#no-alarm-container {
  margin-top: 15rem;
}

#alarm-container {
  margin-top: 6rem;
  margin-bottom: 4rem;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
}