* {
  box-sizing: border-box;
  /* border: 3px solid red; */
  /* padding: 10px; */
}

#LoginPage {
  border: 3px solid green;
  padding: 10px;
  /* 화면 중앙으로 만들기 */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}

#innerBox {
  border: 3px solid green;
  padding: 10px;
  height: 60vh;
  width: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-evenly;
}
#innerBox > img {
  /* height: 70px; */
}

.userLonginInfo {
  /* background-color: red; */
  padding: 10px;

  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.userLonginInfo > div > input {
  padding: 10px;

  /* margin: 30px 10px; */
  margin-left: 10px;
}

.userId {
  padding: 10px;

  display: flex;
}
.userId > div {
  padding: 10px;

  width: 90px;
  text-align: center;
}

.userPassword {
  display: flex;
  padding: 10px;
}
.userPassword > div {
  padding: 10px;

  width: 90px;
  text-align: center;
}

.loginButten {
  padding: 10px;

  margin-top: 60px;
  display: flex;
  justify-content: center;
}
.loginButten > button {
  padding: 10px;

  width: 110px;
}

#oAuth {
  display: flex;
  justify-content: space-evenly;
}
