
#main-container {
  margin-top: 5rem;
  padding: 1rem;
  display: flex;
  flex-direction:column;
  border-style: solid;
  border-color: black;
}
.todayking-container {
  display: flex;
  justify-content: center;
}

.search-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
.postthumb-container {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}