#mypage-container {
  margin-top: 5rem;
  margin-bottom: 4rem;
  display: flex;
  flex-direction:column;
}
.mypage-greeting .welcome {

}

.mypage-greeting .photo_wrapper {

}

.share-container {
}

#mypage-container strong {
  color: #00cc99
}