#profile-setting-container {
  margin-top: 6rem;
  display: flex;
  flex-direction:column;
  width: 100%;
}

.photo-wrapper {
  position: relative;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  overflow: hidden;
}
.photo-wrapper img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}