#share-container {
  border-top: solid 2px #f2f2f2;
  margin-top: 3.5rem;
  margin-bottom: 3.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#calendar-container {
  min-width: 300px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: large;
  padding: 2rem 2rem 1rem;
  text-align: center;
  font-family: "IBM Plex Sans KR", sans-serif;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #00cc99;
}

#calendar-record-container{
  min-width: 250px;
  padding: 1.2rem;
  margin-bottom: 1rem;
}

#share-button button{
  font-size: medium;
  cursor: pointer;
  background-color: black;
  color: white;
  border: none;
  padding: 0.3rem;
  border-radius: 10px;
} 

#share-button .show {
  min-width: 211.61px;
  display: block;
}

#share-button .no-show {
  display: none;
}

