* {
  /* border: 3px solid red; */
  /* padding: 10px; */
}

#LoginPage {
  padding: 10px;
  border: 3px solid green;
  /* 화면 중앙으로 만들기 */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}

#innerBox {
  padding: 10px;

  /* border: 3px solid green; */
  height: 60vh;
  width: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-evenly;
}
#innerBox > img {
  /* height: 70px; */
}

.userLonginInfo {
  /* background-color: red; */
  padding: 10px;

  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.userLonginInfo > div > input {
  /* margin: 30px 10px; */
  padding: 10px;

  margin-left: 10px;
}

.userId {
  padding: 10px;

  display: flex;
}
.userId > div {
  padding: 10px;

  width: 90px;
  text-align: center;
}

.userPassword {
  padding: 10px;
  display: flex;
}
.userPassword > div {
  padding: 10px;
  width: 90px;
  text-align: center;
}
.userPasswordCheck {
  padding: 10px;
  display: flex;
  align-items: center;
}
.userPasswordCheck > div {
  padding: 10px;
  width: 90px;
  text-align: center;
}
.userPasswordCheck > input {
  height: 40px;
}

.userNick {
  padding: 10px;
  display: flex;
}
.userNick > div {
  padding: 10px;
  width: 90px;
  text-align: center;
}
.userNick > button {
  padding: 10px;
  margin-left: 5px;
  font-size: 5px;
}

#signupButten {
}
