// ! sass 가이드 (한국어)
// https://sass-guidelin.es/ko/#sass-
// https://heropy.blog/2018/01/31/sass/

$--default-background-color: #f8f9fa;
$default: #3bc9db;
$yellow: #ffdd40;
$white: #fff;
$black: #111;

$--dark-color-a: #15aabf;
$--dark-color-b: #22b8cf;
$--yellow-color-a: #fcc419;
$--yellow-color-b: #fff3bf;
$--light-color: #c5f6fa;
$--light-gray: #f6f6f6;
$--success-color: #5cb85c;
$--error-color: #d9534f;
$--text-color: #333333;
$--message-time-color: #dddddd;
$--message-user-color: #999999;

$--input-color: #eeeeee;
$--input-border: #dee2e6;

$--button-color: #436f75;
$--text-gray: #868e96;

$--gray-color-a: #868e96;
$--gray-color-b: #495057;
$--chat-shell-background: lighten(#eee, 65%);
